<div class="row fadeInDown">
  <img src="/images/DeKart-logos_black.png" class="fadeIn third" style="width: 394px;
    height: 400px;
    position: absolute;
    padding: 2%;
    margin-left: 228px;
    margin-top: 42px;">
    <div class="col-md-6 m-auto" style="    position: relative;top: 104px;">
        <div class="container mt-5 pl-5";>
            
            <form action="/signup" method="POST" style="position: relative;left: 226px;bottom: 109px;align-items: center;">
            <h2 class="text-center">Create a new Account</h2>
                <div class="form-group">
                    <label>Name</label>
                    <input type="name" class="form-control" name="Name" placeholder="Enter Name">
                </div>

                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" name="Email" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div>

                <a href="/login" style="    position: relative;top: 57px;left: 38px;">Already have a account?</a>
                <button type="submit" class="btn btn-primary float-right" style="position: relative;left: -88px;">signup</button>
            
            </form>

        </div>

    </div>
</div>
